/*Table calculator*/

.calc-container {
    height: 460px;
    width: 350px;
    border-radius: 12px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    text-align: center;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    border: 0.5px solid #999;
    border-radius: 5px;
}


/*grid calculator (I found it difficult making it with flexbox)*/
.flex-calc-container {
    max-width: 400px;
    margin: 20vh auto 0 auto;
    box-shadow: 0px 0px 30px 10px rgb(153,153,153,1);
    padding: 20px;
    border-radius: 5px;
}

#flex-display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    border: 0.5px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.button {
    border: 0.5px solid #999;
    border-radius: 5px;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: #323232;
    color: white;
}