/*universal setting*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: azure;
}

/*nav for all pages*/
nav {
    background-color: rgb(0, 0, 0);
}

nav a {
    text-decoration: none;
    color: white;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 20px 5%;
}

/*submit button*/
input[type="submit"] {
    border: none;
    padding: 7px;
}




/*About page*/
section {
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 0px 5%;
}

section .goals {
    margin-top: 30px;
}

section .education {
    margin-top: 30px;
}

section .jobs {
    margin-top: 30px;
}

section .hobbies {
    margin-top: 30px;
}

img {
    width: 200px;
}



/*contact page*/
.contact {
    height: 390px;
    width: 420px;
    border-radius: 20px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    text-align: center;
}

.contact input {
    margin-bottom: 12px;
}

.contact h1 {
    text-align: center;
    margin-bottom: 30px;
}



/*login page*/
.login {
    height: 320px;
    width: 420px;
    border-radius: 20px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    text-align: center;
}

.login h1 {
    text-align: center;
    margin-bottom: 30px;
}

.login input {
    margin-bottom: 12px;
}

.login input[type="text"] {
    margin-top: 10px;
}



/*register page*/
.register {
    height: 450px;
    width: 480px;
    border-radius: 20px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
}

.register h1 {
    text-align: center;
    margin-bottom: 30px;
}

.register input {
    margin-bottom: 12px;
}
.register select {
    margin-bottom: 12px;
}